<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Traffic volume Estimation</title>
	<link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
	<h1 class="Topic">Traffic Volume Estimation</h1>
	<form action="/predict" method="post">
		<h1 class="start">Enter the Details</h1>
		<label for="holidays">Holidays</label>
		<select name="holidays" id="holidays">
			<option value=7>None</option>
			<option value=1>Columbus day</option>
			<option value=10>Veterans Day</option>
			<option value=9>Thankgiving Day</option>
			<option value=0>Christmas Day</option>
			<option value=6>New Years Day</option>
			<option value=11>Washingtons Birthday</option>
			<option value=5>Memorial Day</option>
			<option value=2>Independence Day</option>
			<option value=8>State Fair</option>
			<option value=3>Labor day</option>
			<option value=4>Martin Lutter King Jr Day</option>
		</select>

		<br>
		<label for="temp">Temperature: </label>
		<input type="number" name="temp" id="temp" placeholder="Temperature" required="required">
		<br>

		<label for="rain">Rain: </label>
		<input type="number" name="rain" id="rain" placeholder="rain" min="0" max="1" required="required">
		<br>


		<label for="show">Show: </label>
		<input type="number" name="shwo" id="show" placeholder="show" min="0" max="1" required="required">
		<br>

		<label for="weather">Weather: </label>
		<select name="weather" id="weather">
			<option value=1>Clouds</option>
			<option value=0>Clear</option>
			<option value=6>Rain</option>
			<option value=2>Drizzle</option>
			<option value=5>Mist</option>
			<option value=4>Haze</option>
			<option value=3>Fog</option>
			<option value=10>Tunderstrom</option>
			<option value=8>Snow</option>
			<option value=9>Squall</option>
			<option value=7>Smoke</option>
		</select>

		<br>
		<label for="year">Years: </label>
		<input type="number" min="1990" max="2040" name="year" placeholder="year" required="required" />
		<label for="month">Month: </label>
		<input type="number" min="1" max="12" name="month" placeholder="month" required="required" />

		<label for="day">Day: </label>
		<input type="number" min="1" max="31" name="day" placeholder="day" required="required" />

		<br>

		<label for="hours">Hours: </label>
		<input type="number" min="0" max="24" name="hours" placeholder="hours" required="required" />


		<label for="minutes">Minutes: </label>
		<input type="number" min="0" max="60" name="minutes" placeholder="minutes" required="required" />

		<label for="seconds">Seconds: </label>
		<input type="number" min="0" max="24" name="seconds" placeholder="seconds" required="required" />
		<br>

		<button type="submit">Predict</button>
	</form>

	<h1>{{prediction_text}}</h1>
</body>
</html>